<mat-toolbar color="primary">
  <span>ngx-range Demo</span>
</mat-toolbar>

<main>
  <h1>Using <code>ngx-range</code></h1>
  <h2>Micro syntax</h2>

  <pre ngNonBindable>
&lt;li *ngxRange="let value from 0 to 20 by 5"&gt;Item #{{
      value
    }}&lt;/li&gt;</pre
  >

  <ul>
    <li *ngxRange="let value; from: 0; to: 20; by: 5">Item #{{ value }}</li>
  </ul>

  <h2><code>ng-template</code></h2>

  <pre ngNonBindable>
&lt;ng-template ngxRange let-value [ngxRangeFrom]="0" [ngxRangeTo]="repeat"&gt;
  &lt;li *ngxRange="let value from repeat"&gt;Item #{{ value }}&lt;/li&gt;
&lt;/ng-template&gt;</pre
  >

  <ul>
    <ng-template
      ngxRange
      let-value
      [ngxRangeFrom]="0"
      [ngxRangeTo]="20"
      [ngxRangeBy]="5"
    >
      <li>Item #{{ value }}</li>
    </ng-template>
  </ul>

  <h2>Binding</h2>

  <p>
    Start
    <mat-slider step="1" min="0" max="20">
      <input matSliderThumb [(ngModel)]="start" />
    </mat-slider>
    {{ start }}
  </p>
  <p>
    End
    <mat-slider step="1" min="0" max="20">
      <input matSliderThumb [(ngModel)]="end" />
    </mat-slider>
    {{ end }}
  </p>
  <p>
    Step
    <mat-slider step="1" min="1" max="10"
      ><input matSliderThumb [(ngModel)]="step"
    /></mat-slider>
    {{ step }}
  </p>

  <ul>
    <li *ngxRange="let value; from: start; to: end; by: step">
      Item #{{ value }}
    </li>
  </ul>
</main>
