<mat-toolbar color="primary">
  <span>ngx-range Demo</span>
</mat-toolbar>

<main>
  <h1>Using <code>ngx-range</code></h1>

  <pre>repeat: number = {{repeat}};</pre>

  <pre ngNonBindable>&lt;li *ngxRange="let index from 1 to repeat by 2"&gt;Item #{{index}}&lt;/li&gt;</pre>

  <ul>
    <li *ngxRange="let index from 1 to repeat by 2">Item #{{index}}</li>
  </ul>

  <pre ngNonBindable>&lt;ng-template ngxRange let-index [ngxRangeFrom]="0" [ngxRangeTo]="repeat"&gt;
  &lt;li *ngxRange="let index from repeat"&gt;Item #{{index}}&lt;/li&gt;
&lt;/ng-template&gt;</pre>

  <ul>
    <ng-template ngxRange let-index [ngxRangeFrom]="0" [ngxRangeTo]="repeat" [ngxRangeBy]="1">
      <li>Item #{{index}}</li>
    </ng-template>
  </ul>

  <button mat-mini-fab color="primary" (click)="more()">
    <mat-icon>add</mat-icon>
  </button>
</main>
